/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222629;
  position: relative;
  color: white;
  padding-bottom: 5rem;
}

main {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#title-wrapper {
  width: 80%;
  padding: 1.5rem;
  text-align: left;
}

#title {
  color: #86c232;
  font-weight: bold;
  font-size: 3.4rem;
}

#category-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.category-button {
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
  min-height: 10rem;
  margin: 3rem;
  padding: 5rem;
  text-align: center;
  min-width: 25rem;
  /* Pagandahin pa */
}

.category-button:hover {
  background-color: #86c232;
  border: none;
  color: white;
}

h1 {
  margin: 10px;
}

#quiz-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  border-radius: 20px;
  width: 80vw;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0 3rem 3rem;
  gap: 4rem;
}

.question {
  font-size: 1.6rem;
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.input-wrapper .input {
  display: flex;
  align-items: center;
  width: 50%;
}

.input-wrapper .input {
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.input-wrapper .input:hover {
  border: 1px dashed white;
  border-radius: 5px;
}

.input-wrapper input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;

  border: 2px solid white;
  transition: 0.2s all linear;
  margin-right: 1rem;
}

.input-wrapper input[type="radio"]:checked {
  border: 6px solid #86c232;
}

.button {
  margin: 2rem;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  border: solid 1px;
  border-radius: 0 0 10px 10px;
}

.button-wrapper span {
  font-size: 2rem;
  line-height: 4rem;
}

#question-number {
  border: none;
  width: 2rem;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
}

/* Chrome, Safari, Edge, Opera https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  background-color: transparent;
  color: white;
}

.input-wrapper input[type="text"] {
  background-color: transparent;
  border-color: white;
  border-style: solid;
  caret-color: white;
  color: white;
  font-size: 1.6rem;
  height: 50px;
  width: 100%;
  padding-left: 1rem;
}

.input-wrapper input[type="text"]:focus {
  outline: none;
  border-color: #86c232;
  border-radius: 5px;
  border-width: 2px;
}

#submit-wrapper{
  display: flex;
  margin: 2rem;
  margin-bottom: 5rem;
  justify-content: center;
}

#submit-button{
  font-size: 1.5rem;
  width: 15rem;
  height: 5rem;
}

#submit-button:hover{
  background-color: #86c232;
  color: aliceblue;
}

/* Footer */
footer {
  background-color: #86c232;
  color: #222629;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
}

footer p {
  font-size: 1.4rem;
}
