<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>p&#0224;gina quiz</title>
  </head>
  <body>
    
    <!-- Category selector -->
    <main id="main">
        <div id="title-wrapper"><span id="title">Select a subject</span></div>
        <div id="category-wrapper">
          <!-- <% classes.forEach(function(class) { %>
              <div id="<%= class[0]%>"><%= class[1] %></div>
          <% }); %> -->
        </div>
    </main>

    <!-- footer -->
    <footer>
      <p>p&#0224;gina &#0169; 2022</p>
    </footer>
    <script src="../public/js/category.js"></script>
  </body>
</html>
