@font-face {
  font-family: 'OpenSans';
  src: url('res/fonts/OpenSans.ttf');
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'OpenSans';
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background-color: #222629;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

#login {
  background-color: #fff;
  display: block;
  border-radius: 10px;
  color: #222629;
  left: 50%;
  margin: auto;
  padding: 5rem;
  position: fixed;
  text-align: center;
  top: 60%;
  transform: translate(-50%, -90%);
  width: 40%;
}

#login h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 4rem;
  border: #000000;
  border-style: dashed;
  padding: 1rem;
}

#login p {
  color: red;
  margin: 1rem;
  animation: shake 0.5s;

}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#login form {
  margin-top: 3rem;
}

#login form input[type="button"] {
  margin: 0 !important;
}

.username,
.password {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  outline: none;
  padding-left: 1rem;
}

#login .input {
  text-align: left;
  width: 60%;
}

#login .input.focus label {
  color: #86c232;
  font-size: 1.5rem;
  opacity: 1;
  transform: translateY(-2rem);
}

#login input {
  font-size: 2rem;
  height: 3.5rem;
  position: relative;
  width: 100%;
}

#login label {
  color: black;
  font-size: 1.7rem;
  line-height: 3.5rem;
  opacity: 0.5;
  padding-left: 1rem;
  position: absolute;
  transition: 0.5s;
}

#login-btn {
  background-color: #86c232;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 7px;
  transition: 0.2s;
}

#login #login-btn{
  width: 80%;
  font-size: 2.1rem;
  font-weight: bold;
  /* padding: 0.5rem; */
}

#login-btn:hover {
  background-color: #61892f;
}

#login-btn:active {
  background-color: #61892f;
}


main {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  width: 70vw;
  align-items: center;
}

#user-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
}


#user-wrapper input {
  border: none;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  width: 40rem;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#enter-button {
  background-color: white;
  border-radius: 1rem;
  color: #000000;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  width: 20rem;
}

#enter-button:hover {
  background: #86c232;
  color: #fff;
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

#enter-button[disabled]:hover {
  cursor: not-allowed;
}

#header-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

#title-wrapper {
  align-items: center;
  background-color: #86c232;
  color: white;
  display: flex;
  flex-direction: column;
  /* height: 10rem; */
  justify-content: center;
  /* margin-bottom: 2rem; */
  margin-top: 5rem;
  padding: 2rem;
  text-align: left;
  width: 100vw;
  border-radius: 10px;
  border: #000000 solid;
  border-width: 6px;
  box-shadow: 5px 5px 20px black;

}

#title-wrapper p {
  margin-top: 0.5rem;
  font-size: 3rem;
}

#title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}



#category-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color:  #dcdcdc;
  border-radius: 30px;
  min-width: 60vw;
  min-height: 70vh;
  border: #000000 solid 5px;
}

.category-button,
#start-button {
  border: none;
  border-radius: 20px;
  font-size: 2.5rem;
  margin: 3rem;
  min-height: 10rem;
  min-width: 20rem;
  padding: 3rem;
  text-align: center;
  background-color: rgb(126, 26, 151);
  color: white;
  /* Pagandahin pa */
  box-shadow: 5px 5px 20px black;
}

.category-button:hover,
#start-button:hover {
  background-color: rgb(55, 2, 68);
  border: none;
  color: white;
  cursor: pointer;
}

h1 {
  margin: 10px;
}

#quiz-wrapper {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  width: 60vw;
  background-color: #dcdcdc;
  color: black;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  padding: 3rem 3rem 3rem 3rem;
}

.label-wrapper {
  padding: 3rem;
  background-color: rgb(126, 26, 151);
  color: white;
  border-radius: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 5px 5px 20px black;

}

.points {
  font-size: 1.5rem;
  color: #86c232;
  width: 8%;
  text-align: right;
}

.question {
  width: 90%;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;

}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.input-wrapper .input,
.multiple-choice,
.true-false {
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  margin: 0.5rem 0;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  width: 40%;
}

.input-wrapper .input:hover {
  border: 1px dashed rgb(126, 26, 151);
  border-radius: 5px;
}

.input-wrapper input[type="radio"] {
  appearance: none;

  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 1.6rem;
  margin-right: 1rem;
  transition: 0.2s all linear;
  width: 1.6rem;
}

.input-wrapper input[type="radio"]:checked {
  border: 6px solid #86c232;
}

.input label {
  cursor: pointer;
}

.button {
  margin: 2rem;
}

.button-wrapper {
  align-items: center;
  border: solid 1px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: center;
  width: 100%;
}

.button-wrapper span {
  font-size: 2rem;
  line-height: 4rem;
}

#question-number {
  border: none;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  width: 2rem;
}

/* Chrome, Safari, Edge, Opera https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
  background-color: transparent;
  color: white;
} */

.identification {
  margin-left: 2rem;
  width: 85%;
}

.input-wrapper .identification input[type="text"] {
  background-color: rgb(126, 26, 151,0.2);
  border-color: rgb(126, 26, 151);
  border-style: solid;
  caret-color: rgb(126, 26, 151);
  color: black;
  font-size: 1.6rem;
  height: 50px;
  padding-left: 1rem;
  width: 100%;
}

.input-wrapper input[type="text"]:focus {
  border-color:  #ff98ff;;
  border-radius: 5px;
  border-width: 4px;
  outline: none;
}

#submit-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-bottom: 5rem;
}

#submit-button {
  margin: 2rem;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  height: 7rem;
  width: 20rem;
}

#submit-button:hover {
  background-color: #86c232;
  border-color: transparent;
  color: aliceblue;
}

/* progress bar style */

#progress-circle {
  background-color: #c9c9c9;
  border-radius: 50%;
  bottom: 10px;
  filter: drop-shadow(5px 2px 5px rgba(0, 0, 0, 0.514));
  font-size: 20px;
  height: 8em;
  line-height: 8em;
  /* so that children can be absolutely positioned */
  padding: 0;
  position: fixed;
  right: 5px;
  width: 8em;
  z-index: 1;
}

#progress-circle:after {
  background-color: white;
  border: none;
  border-radius: 50%;
  content: " ";
  display: block;
  height: 6.3em;
  left: 0.85em;
  position: absolute;
  text-align: center;
  top: 0.85em;
  width: 6.3em;
}

#progress-circle span {
  color: #86c232;
  cursor: default;
  display: block;
  line-height: 8em;
  position: absolute;
  text-align: center;
  width: 8em;
  z-index: 2;
}

.left-half-clipper {
  border-radius: 50%;
  clip: rect(0, 8em, 8em, 3.5em);
  height: 8em;
  position: absolute;
  width: 8em;
}


/* when p>50, don't clip left half*/
#progress-circle.over50 .left-half-clipper {
  clip: rect(auto, auto, auto, auto);
}

#value-bar {
  border: 0.95em solid #86c232;
  border-radius: 50%;
  box-sizing: border-box;
  clip: rect(0, 3.5em, 8em, 0);
  height: 8em;
  position: absolute;
  transition: transform .5s ease-in-out;
  width: 8em;
}


/* Progress bar filling the whole right half for values above 50% */
#progress-circle.over50 .first50-bar {
  background-color:#86c232;
  border-radius: 50%;
  clip: rect(0, 8em, 8em, 3.5em);
  height: 8em;
  /*Progress bar for the first 50%, filling the whole right half*/
  position: absolute;
  width: 8em;
}

#progress-circle:not(.over50) .first50-bar {
  display: none;
}

/* Footer */
footer {
  align-items: center;
  background-color: #86c232;
  bottom: 0;
  color: #222629;
  display: flex;
  height: 5rem;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer p {
  cursor: default;
  font-size: 1.4rem;
}

.notification {
  background-color: #555;
  border-style: solid;
  border-color: #000000;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.logout-button {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 13px 20px;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  width: 8rem;
}

.notification:hover,
.logout-button:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}


#status-messages-container {
  font-family: "Poppins", sans-serif;
  z-index: 999;
  position: absolute;
  /* float: top; */
  top: 0;
  right: 1rem;
  animation: float-in 3s ease-out;
  
}

@keyframes float-in {
  0%   { 
  transform: translateY(0%); 		
  }
  100% { 
  transform: translateY(100%); 
  }
}
.status-message {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.8em;
  border-radius: 0.5em;
  pointer-events: none;
  margin: 1em;
  display: flex;
  align-items: center;
  gap: 5px;
}


.info-circle{
  content: url("../res/images/info.png");
  width: 20px;
  border-radius: 20%;
}
.check{
  content: url("../res/images/check.png");
  width: 20px;
}
.warning{
  content: url("../res/images/warning.png");
  width: 20px;
}
.times-circle{
  content: url("../res/images/cross.png");
  width: 20px;
}



.info-message {
  background-color: #AFCBE1;
  color: #094579;
}

.success-message {
  background-color: #AFE1AF;
  color: #097969;
}

.warning-message {
  background-color: #DBE1AF;
  color: #6F7909;
}

.error-message {
  background-color: #E1AFAF;
  color: #790909;
}


