<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style/style.css" />
    <title>p&#0224;gina quiz</title>
  </head>
  <body>
    
    <!-- Category selector -->
    <main id="main">
        <div id="title-wrapper"><span id="title">Choose a category</span></div>
        <div id="category-wrapper"></div>
    </main>

    <!-- footer -->
    <footer>
      <p>p&#0224;gina &#0169; 2022</p>
    </footer>
    <script src="../public/js/main.js"></script>
  </body>
</html>
