doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='style/style.css')
        title p&agrave;gina quiz
        // Category selector
    body
        main#main
        #title-wrapper
            span#title Select a subject
        #category-wrapper
            - var classes = #{classes}
            .script
                classes.forEach((x)=>{
                    console.log(x);
                })
        // footer
        footer
            p p&agrave;gina &copy; 2022
        script(src='../public/js/category.js')
