<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style/style.css" />
    <title>p&#0224;gina quiz</title>
  </head>
  <body>
    
    <!-- Category selector -->
    <main id="main">
    </main>

    <!-- Progress bar -->
    <div id="progress-circle">
        <span id="progress-text">0%</span>
        <div class="left-half-clipper">
            <div class="first50-bar"></div>
            <div id="value-bar"></div>
        </div>
    </div>

    <!-- footer -->
    <footer>
      <p>p&#0224;gina &#0169; 2022</p>
    </footer>
    <script src="../public/js/main.js"></script>
  </body>
</html>
