html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='style/style.css')
        title p&agrave;gina quiz
        // Category selector
    body
        main#main
            #title-wrapper
                span#title Your respone has been submitted
            #category-wrapper
                form(action='/home' method='get')
                    input(type='submit' class='category-button' name="" value="Return to Home page")
