@font-face {
  font-family: "OpenSans";
  src: url("../../res/fonts/OpenSans.ttf");
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "OpenSans";
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 5rem;
  position: relative;
}

main {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 100%;
  justify-content: center;
  width: 80%;
}

li,
a,
button {
  color: #edf0f1;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

header {
  align-items: center;
  border-bottom: 0.25rem solid white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 80%;
}

#logo {
  display: flex;
  cursor: pointer;
  margin-right: auto;
  font-size: 2rem;
  align-items: center;
  gap: 1rem;
}

#logo img {
  width: 4.5rem;
}

#modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.35s ease-in;
  visibility: hidden;
}

#modal button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  outline: none;
}

#modal.is-visible {
  opacity: 1;
  visibility: visible;
}

.modal-dialog {
  background: white;
  border-radius: 5px;
  color: black;
  cursor: default;
  font-size: 1.6rem;
  max-height: 80vh;
  max-width: 80rem;
  overflow: auto;
  position: relative;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header {
  align-items: center;
  background: #efefef;
  display: flex;
  justify-content: space-between;
}

.modal-header .close-modal-button {
  font-size: 1.5rem;
}

#modal p + p {
  margin-top: 1rem;
}

#modal form {
  display: flex;
  flex-direction: column;
}

.white {
  filter: brightness(0) invert(1);
}

.green {
  filter: invert(65%) sepia(47%) saturate(611%) hue-rotate(43deg)
    brightness(97%) contrast(89%);
}
