@font-face {
  font-family: "OpenSans";
  src: url("../res/fonts/OpenSans.ttf");
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "OpenSans";
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 5rem;
  position: relative;
}

main {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 100%;
  justify-content: center;
  width: 80%;
}

h1 {
  cursor: default;
}

li,
a,
button {
  color: #121212;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

button {
  background-color: #86c232;
  border: none;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  padding: 9px 25px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #446910;
}

header {
  align-items: center;
  border-bottom: 0.25rem solid white;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  width: 80%;
}

#class-details {
  cursor: default;
  display: flex;
  flex-direction: column;
}

#class-code, #class-description {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#logo {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  align-items: center;
  gap: 1rem;
}

#logo img {
  width: 4.5rem;
}

#class-details {
  margin: auto;
}

#modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.35s ease-in;
  visibility: hidden;
}

#modal.is-visible {
  opacity: 1;
  visibility: visible;
}

.modal-dialog {
  background: white;
  border-radius: 5px;
  color: black;
  cursor: default;
  font-size: 1.6rem;
  max-height: 80vh;
  max-width: 80rem;
  overflow: auto;
  position: relative;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header {
  align-items: center;
  background: #efefef;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.modal-header .close-modal-button {
  font-size: 1.5rem;
}

.modal-content {
  padding: 1rem 2rem;
}

#close-modal-button {
  color: #86c232;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  outline: none;
}

#close-modal-button:hover {
  color: #446910;
}

#modal p + p {
  margin-top: 1rem;
}

#modal form {
  display: flex;
  flex-direction: column;
}

.white {
  filter: brightness(0) invert(1);
}

.green {
  filter: invert(65%) sepia(47%) saturate(611%) hue-rotate(43deg)
    brightness(97%) contrast(89%);
}

.green-button {
  background-color: #86c232;
  border-radius: 10px;
  color: white;
}

.green-button.clicked {
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  color: black;
}

.red-button {
  background-color: rgb(200, 40, 40);
  border-radius: 10px;
  color: white;
}

.purple-button {
  background-color: rgb(168, 40, 200);
  border-radius: 10px;
  color: white;
}

form button {
  background-color: #86c232;
  border-radius: 10px;
  color: white;
  margin-top: 2rem;
}

form button:hover {
  background-color: #446910;
}

.row {
  display: flex;
  flex-direction: row !important;
}

.column {
  display: flex;
  flex-direction: column !important;
}

.settings-button:hover+.dropdown {
  display: block;
}

.dropdown:hover {
  display: block;
}

.dropdown

.settings-button {
  position: relative;
}

.dropdown {
  background-color: white;
  margin: 1rem;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  width: 100%;
  z-index: 6000;
}

.dropdown li {
  padding: 0.5rem 1rem;
  text-align: center;
}
.dropdown li + li {
  margin-top: 1rem;
}