

button {
  background-color: white;
  border: none;
  border-radius: 50px;
  color: #86c232;
  cursor: pointer;
  padding: 9px 25px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #222629;
  color: white;
}

#top-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

#top-nav ul {
  align-items: center;
  display: flex;
  gap: 1rem;
}

#top-nav ul li {
  background-color: white;
  border-bottom: 5px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
  padding: 1.5rem 3rem 1rem 3rem;
}

#top-nav ul li:hover {
  border-bottom: 0.5rem solid #86c232;
}

#top-nav ul li.selected {
  border-bottom: 0.5rem solid #86c232;
}

#top-nav ul li a {
  color: black;
}

main > div {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  min-height: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 100%;
  padding: 2rem;
  width: 60%;
}

.quiz-wrapper, .test-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 100%;
  justify-content: center;
}

.test-name, .category-name {
  display: inline-block;
}

.test-details {
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
  width: 55%;
}

.name-div,
.score-div {
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  color: black;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
  width: 55%;
}

.score-div {
  background-color: rgb(154, 152, 152);
  font-size: 2rem;
  padding-top: 3rem;
  width: 15%;
}

.name-div.clicked {
  background-color: #86c232;
  color: white;
}

.answers-div, .choices-div {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 25%;
}

.button-wrapper button {
  flex-grow: 1;
  font-size: 1.4rem;
}

.green-button {
  background-color: #86c232;
  border-radius: 10px;
  color: white;
}

.green-button.clicked {
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  color: black;
}

.red-button {
  background-color: rgb(200, 40, 40);
  border-radius: 10px;
  color: white;
}

.purple-button {
  background-color: rgb(168, 40, 200);
  border-radius: 10px;
  color: white;
}

.side-container {
  background: none;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.right-pane {
  background: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 2rem;
  padding: 2rem;
  white-space: pre-wrap;
  width: 20%;
}

.right-pane button {
  font-size: 1.4rem;
  white-space: normal;
}

#see-more {
  height: 300px;
  overflow: auto;
}

.category-button, .class-button {
  background: white;
  border-bottom: 0.5rem solid transparent;
  border-radius: 5px;
  color: black;
  margin: 5px;
  padding: 2rem 2rem 1.5rem 2rem;
}

.category-button:hover, .class-button:hover {
  background: white;
  border-bottom: 0.5rem solid #86c232;
  color: black;
}

.category-button.selected, .class-button.selected {
  background-color: #86c232;
  color: white;
  outline: none;
}

.correct {
  color: #86c232;
}

.wrong {
  color: #c23232;
}

.add-test-button:hover {
  background: #86c232;
}

.clear-category,
.add-test-button {
  background: rgb(190, 190, 190);
  border-radius: 5px;
  color: black;
}

.clear-category:hover {
  background: rgb(190, 15, 15);
}

.clear-all {
  background: rgb(223, 56, 56);
  border-radius: 5px;
  color: white;
  margin: 0 5px;
  margin-bottom: 5px;
}

.clear-all:hover {
  /* background: rgb(168, 40, 200); */
  background: rgb(190, 15, 15);
}

#search-bar {
  width: 90%;
  height: 2rem;

  border: none;
}

#search-bar:focus {
  outline: none;
  border-bottom: 1px solid black;
}
.search-bar-div img {
  max-height: 50%;
}

.search-bar-div {
  border-radius: 1rem;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
  border: gray;
  border-style: groove;
  align-content: center;
  justify-content: center;
  align-items: center;
}
